.movie-details {
  h3 {
    color: #1f3c54;
  }

  h5 {
    color: #2c4963;
  }

  img {
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}